<div class="container-fluid site-con">
	
	<div class="row_fluid intro">
		<div class="logo-con">
			<div class="logo-index"></div>
			<h1 class="logo-type"> HASHTAGG.IN </h1>
		</div>
		<h3 class="slogan">SEE PHOTOS | ORGANIZE HASHTAGS | CREATE ALBUMS </h3>
		<h3 class="slogan-phone"><span>SEE PHOTOS</span><br><span>ORGANIZE HASHTAGS</span><br><span>CREATE ALBUMS</span></h3>
		<h5> <%= link_to "Connect with Instagram", {:controller => "sessions", :action => "connect"}, class: "btn btn-large btn-info btn-index" %></h5>
	</div>

</div>

<script src="jquery.backstretch.min.js"></script>
<script>
$.backstretch("http://hashtagg.s3.amazonaws.com/bg-image2.png");
</script>