<div class="container-fluid site-con">
	<div class="row_fluid banner">
		<div class="row_fluid intro">
			<h1 class="logo"> HASHTAGG.IT </h1>
			<h3 class="slogan">CREATE ALBUMS | SEE YOUR BFFS | EASILY 				SHARE </h3>
			<div class="btn btn-large btn-primary btn-index">
			<h5> <%= link_to "Connect with Instagram", :controller => 	"sessions", :action => "connect", :class => "btn-link" %></h5>
			</div>	

		</div>
	</div>
</div>

<script src="jquery.backstretch.min.js"></script>
<script>
$.backstretch("http://hashtagg.s3.amazonaws.com/bg-image2.png");
</script>