<div class="container-fluid site-con">
	
	<div class="row_fluid intro">
		<div class="logo-con">
			<div class="logo-index"></div>
			<h1 class="logo-type"> HASHTAGG.IT </h1>
		</div>
		<h3 class="slogan">CREATE ALBUMS | SEE YOUR BFFS | EASILY SHARE </h3>
		<h3 class="slogan-phone"><span>CREATE ALBUMS</span><br><span>SEE BFF'S</span><br><span>EASILY SHARE</span></h3>
		<h5> <%= link_to "Connect with Instagram", {:controller => "sessions", :action => "connect"}, class: "btn btn-large btn-info btn-index" %></h5>
	</div>

</div>

<script src="jquery.backstretch.min.js"></script>
<script>
$.backstretch("http://hashtagg.s3.amazonaws.com/bg-image2.png");
</script>