<h1><%= "#{@user.username}" %>'s recent photos</h1>

<%= @user_recent_media %>

<%# @user_recent_media.each do |media_item| %>

  <%#= link_to image_tag("#{images.thumbnail.url}"), "#{images.standard_resolution.url}" %>

<%# end %>