<!DOCTYPE HTML>
<html lang="en-US">
<head>
</head>
<body>
	<div class="container-fluid">
		<div class="row collage">
			<div class="login-box">	
				<figure></figure>
				<h3>Succesfully Logged Out</h3>
				<p>You have successfully logged out of Hashtagg.in. We also logged you out of Instagram. Thanks for visiting, come back soon. </p>
				<br>
				<a href="/"><h5>Go back to hashtagg.in</h5></a>
			</div>
		</div>
	</div>

	<iframe src="https://instagram.com/accounts/logout/" width="0" height="0" />

</body>
</html>