<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>Page Redirection</title>
</head>
<body>
	<iframe src="https://instagram.com/accounts/logout/" width="0" height="0" />
<!-- Note: don't tell people to `click` the link, just tell them that it is a link -->
If you are not redirected automatically, follow the <a href='http://localhost:3000'>link to Hashtagg.it</a>
</body>
</html>