//------REALLY GOOD LOOKING COLOR VARIABLES------//

$white: #ffffff;
$black: #000000;
$light_grey: #E3E3E3;
$dark_grey: #333;
$dark_blue: #8ebfbb;
$blue: #9fd6d2;
$dark_dark_blue: #86a3a1;
$dark_salmon: #d9544c;
$salmon: #f35f55;

//------END COLOR VARIABLES------//.cs