@import "colors";

.centered .hashtag-image-block {
  background: $white;
  border: 5px solid $white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  float:left;
  margin-bottom: 18px;
  margin-left: 10px;
  position: relative;
  width: 210px;

  .hashtag-header {
    background: $light_grey;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;

    h4 {
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
    }

    h5 {
      color: $white;
      position: absolute;
      border: 1px solid $white;
      border-radius: 50%;
      background-color: $dark_blue;
      font-size: 18px;
      padding: 2px 4px 2px 4px;
      width: 14px;
      text-align: center;
      top: -20px;
      right: -9px
    }
  }

  .hashtag-image {
    display: block;
    margin-bottom: 9px;
    margin-left: 0px;
  }

  .hashtag-footer {
    padding-bottom: 8px;
    padding-top: 4px;
    text-align: center;

    .btn-mini {
      padding: 6px 10px;

      &:first-child {
        margin-right: 6px;
      }

      &:last-child {
        margin-left: 6px;  
      }
    }

  }
}