@import "colors";

.intro {
	background: white;
	background-size: cover;
	height: 200px;
	padding-top: 50px;
	margin-top: 125px;
	text-align: center;
}

h1.logo-type {
  margin: 10px 0;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 1;
  color: $blue;
  text-rendering: optimizelegibility;
  text-shadow: -1px -1px 1px #E6E7E8;
 }

span.beta-type {
 	margin: 10px 0;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
 	font-size: 50px;
 	font-weight: 900;
	letter-spacing: 4px;
 	line-height: 1;
  display: inline-block;
  background: white;
  width: 150px;
  height: 60px;
  border-radius: 50%;
 	color: $blue;
 	text-rendering: optimizelegibility;
  text-shadow: -1px -1px 1px #E6E7E8;
 }

h3.slogan {
	color: $light_grey;
	letter-spacing: 4px;
}

.slogan-phone {
  display: none;
}

.btn-index {
	margin-top: 115px;
  padding: 17px;
}

.btn-link {
	color: $white;
	font-size: 20px;
	font-weight: 600;
}

.logo-index {
  content: url("logo-100px.svg");
  background-repeat: no-repeat;
  position: absolute;
  margin: -94px 0 0 7%;
}

@media (max-width: 1024px) {

  .logo-con {
    margin-top: -94px;

    .logo-index {
      margin: 0 auto;
      position: relative;
    }
  }

  .slogan-phone {
    display: none;
  }
}

@media (max-width: 767px) {

  .container-fluid {
    margin-left: -20px;
    margin-right: -20px;

    .logo-con, .logo-type {
      font-size: 60px;
    } 

    .slogan {
      font-size: 13px;
    }

    .slogan-phone {
      display: none;
    }

    .btn-index {
      margin-top: 19px;
      padding: 12px;
    }
  }
}

@media (max-width: 480px) {
  
  .intro {
    margin-top: 55px;

    .logo-index {
      width: 75px;
    }

    .logo-type {
      font-size: 35px;
    }
  }

  .slogan {
    display: none;
  }

  .slogan-phone {
    color: $light_grey;
    display: block;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
  }

  .btn-index {
    margin-top: 6px;
  }
}





