<div class="container-fluid">
	<div class="row collage">
		<div class="login-box">	
			<figure></figure>
			<h3>Welcome to Hashtagg.in</h3>
			<p>Enter your email address below to complete your account set up.  Please know that we have a strict policy to never share your email address.</p>
			<%= form_for :user do |f| %>
				<h6 id="notice"><%= notice %></h6>
			  <%#= f.label :email %>
			  <%= f.text_field :email, placeholder: "Email Address" %>
			  <%= f.submit "Create My Account", :class => "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
