@import "site_styles/base";


body {
	background: url('png.png');
}

img {
  vertical-align: bottom;
  border: 0;
}

a {
  color: $dark_grey;
}


@media (max-width: 1024px) {

}


@media (max-width: 767px) {

  .container-fluid {
    margin-left: -20px;
    margin-right: -20px;
  }
}


@media (max-width: 480px) {
  
  .container-fluid {
    margin-left: -20px;
    margin-right: -20px;
  }
}















