//------REALLY GOOD LOOKING COLOR VARIABLES------//

$white: #ffffff;
$black: #000000;
$light_grey: #E3E3E3;
$dark_grey: #333;
$dark_blue: #8ebfbb;
$blue: #9fd6d2;
$dark_dark_blue: #86a3a1;
$dark_salmon: #d9544c;
$salmon: #f35f55;

//------END COLOR VARIABLES------//


//------MIXINS------//


//------END MIXINS------//


//----------CUSTOM FONT------------//

// proxima-nova font weights

// Thin = 100 normal, italic
// Regular = 400 normal, italic
// Semibold = 600 normal
// Bold = 700 normal, italic
// Black = 900 normal, italic

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	font-family: "proxima-nova",sans-serif;
	font-weight: 700;
	line-height: 1;
	color: $dark_grey;
	text-rendering: optimizelegibility;
}

p {
	font-family: "ff-tisa-web-pro",serif;
	font-style: normal;
	font-weight: 400;
}

//----------END CUSTOM FONT------------//


//------NOW ON TO THE LAYOUT STYLING------//

body {
	background: url('png.png');
}

img {
  vertical-align: bottom;
  border: 0;
}

// .row-fluid {
//   padding-left: 60px;
//   padding-right: 60px;
// }

.intro {
	background-size: cover;
	height: 300px;
	padding-top: 100px;
	text-align: center;
}

//--------NOT AMAZING AT CSS, SO HOPE THIS DOESN'T SCREW ANYTHING UP!---//

// h1.logo {
// 	//---Should we put this with the other type stuff?---//
// 	margin: 10px 0;
// 	font-family: "proxima-nova",sans-serif;
// 	font-size: 100px;
// 	font-weight: 700;
// 	line-height: 1;
// 	color: $dark_grey;
// 	text-rendering: optimizelegibility;
// }


//------Styles for the Profile Partial------//

.navigation {
	background: #4f4f4f;
  // background: -moz-linear-gradient(top, #4f4f4f 0%, #333333 99%);
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(99%,#333333));
  // background: -webkit-linear-gradient(top, #4f4f4f 0%,#333333 99%);
  // background: -o-linear-gradient(top, #4f4f4f 0%,#333333 99%);
  // background: -ms-linear-gradient(top, #4f4f4f 0%,#333333 99%);
  // background: linear-gradient(to bottom, #4f4f4f 0%,#333333 99%);
  height: 37px;
  padding-bottom: 15px;
  padding-top: 0px;
  text-align: center;

    .logo {
      content: url("logo.png");
      height: 70px;
      background-repeat: no-repeat;
      margin-left: auto;
      margin-right: auto;
      width: 70px;
    }
  
  h4 {
    color: $white;
    font-weight: 400;
    text-align: center;

    &:first-child {
      padding-left: 60px;
      text-align: left;
    }

    &:last-child {
      padding-right: 60px;
      text-align: right;

      // &:after {
      //   content: url('log_out.png');
      // } 
    } 

    .logout {
      background-image: url('log_out.png');
    }
  }

  .navatar {
    border-radius: 0px;
    border: 1px solid #EEE;
    box-shadow: 0px 0px 4px #222;
    margin-bottom: -6px;
    margin-right: 8px;
    width: 30px;
  }

  .logout {
    background-image: url('log_out.png');
  }
}


.profile-separator {
    // background: #CCC;
    background: url("grid.png");
    border-bottom: 1px solid #BCBEC0;
    box-shadow: 0px 1px 0px white;
    height: 179px;
    margin: 0px 0px 44px 0px;
    padding-left: 60px;
    padding-top: 18px;
  
  .profile-image {
    border: 7px solid $white;
    border-radius: 2px;
    box-shadow: inset 0px -2px 0px white, inset 0px 3px 3px #3D3D3D, 0 0px 5px rgba(0, 0, 0, 0.1);
    height: 140px;
    margin-left: 60px;
    margin-top: 15px;
    width: 140px;
  }

  .user-info {
    display: inline-block;
    margin-top: 20px;

    h3 {
      font-weight: 400;
      margin-top: -7px;
    }

  	h4 {
      font-size: 14px;
  		font-weight: 400;
  	}
  }

}

.photo-filter {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 233px;
}


.centered {
  margin: 0 auto;

  .image-block {
	  float:left;
    margin-bottom: 18px;
	  width: 210px;

	  .image {
		  border: 5px solid $white;
		  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
		  display: block;
		  margin-bottom: 9px;
		  margin-left: 0px;
		}

    .image-footer {
      background: $white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      height: 40px;
      margin-top: -10px;
      text-align: center;
      width: 220px;
      padding-top: 2px;

      h4 {
        color: #676767;
        font-weight: 400;
        margin-right: 6px;

        img:nth-child(2) {
          margin-left: 18px;
        }

        img:last-child {
          margin-left: 18px;
        }

        .comment-icon {
          content: url('comment_icon.png');
          border-style: none;
          height: 20px;
          margin-right: 5px;
          width: 20px;
        }

        .loves-icon {
          content: url('heart_icon.png');
          border-style: none;
          height: 20px;
          margin-right: 5px;
          width: 20px;
        }

        .tag-icon {
          content: url('tag_icon.png');
          border-style: none;
          height: 20px;
          margin-right: 5px;
          width: 20px;
        }
      }
    }
	}
}

// Modal Styles

.image-stats {
  display: inline-block;
  height: 400px;
  overflow: scroll;
  width: 418px;

  h3 {
    margin-left: 25px;
  }

  li {
    display: block;
  }

  .commentor-avatar {
    border: 2px solid white;
    box-shadow: 0px 0px 2px grey;
    float: left;
    width: 40px;
  }

  .comments {
    display: inline-block;
    margin-left: 10px;
    margin-top: -8px;
    min-height: 68px;
    width: 339px;

    h6 {
      font-weight: normal;
      margin-top: -7px;
    }
  }
}













